	
	</span>
	
		
	</div>
	<hr class="breakStyle">
	<div  id="footer">
		<a href="#"><i class="fa fa-facebook-official" style="font-size:24px"></i></a>
		<a href="#"><i class="fa fa-twitter" style="font-size:24px"></i></a>
	 </div>

		<script type="text/javascript" src="app.js"></script>
	</body>
</html>