<!DOCTYPE html>
<html>
<!-- header -->
<head>
	<title>Help Vietnam</title>
	<link rel="stylesheet" type="text/css" href="app.css"/>
	<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:800,900" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
 <!-- main body -->
	<body id="mainpage">
	<!-- main container -->
	<div class="main">
		<!-- top bar container -->
		<div id="topBar">
			<a href="/" style="text-decoration: none"><h1>Help Vietnam</h1></a>
			<hr class="breakStyle">
		</div>
		
		<span class="navigation">
			<ul id="tabs">
				<li> <a href="/about" class="option">About</a> </li>
				<li> <a href="/contact" class="option">Contact Us</a> </li>
				<li> <a href="/founder" class="option">Founder</a> </li>
				<li> <a href="/learnmore" class="option">Learn More</a> </li> 
				
			</ul>


