<%include ../partials/header%>
		<div id="about">
				<h1>Abouts</h1>
				<p>
					Perhaps the name of the website may draw some feelings of nostalgia for those that remember the period of the Vietnamese War. The title, "help Vietnam", is not a novel phrase that brings about excitement or surprise. On the contrary, it is a saying that threatens to uproot old memories lay deep within those individual affected by the war. The war that left the country in shambles, the economy in disarray, and the people in suffering. Once the war ended, it was too quickly forgetten that vietnamese are still fighting for freedom.
				</p>
				<p>
					In 2018, the Vietnamese government released a disruptive policy that leased vital economic zones to foreign investors primarily China. This policy was unwarranted and has promoted  anti-chinese sentiment against the government. The policy grant China access to Vietnam's market and allow them to make further progression into all sector of Vietnam without fear of being penalized. If the lease is approved, China will gain control for a total of 99 years. 
				</p>
				<p>
					The goal of this movement is to promote awareness about the struggle in Vietnam, to overcome history in the face of oppression, and to bring people together.
				</p>
		</div>

<%include ../partials/footer%>