<%include ../partials/header%>
	<div id="contact">
		<h1>Contact</h1>
			
		<form>
  			<div class="form-group-lg" >
    			<label for="exampleInputEmail1">Email address</label>
    			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">

    			<label for = "firstName">First Name</label>
    			<input type="text" class="form-control" id="firstName" placeholder="Enter First Name">

    			<label for="lastName">Last Name</label>
    			<input type="text" id="LastName" placeholder="Enter Last Name" class="form-control">
    			<label for= "commentBox">Comment</label>
    			<textarea class="form-control" placeholder="Enter comment"></textarea>

    			<button style = "margin-top: 20px; background: #edc895; border: none;"type="submit" class="btn btn-primary">Submit</button>
 			</div>
  			
		</form>
	
	</div>
<%include ../partials/footer%>