<%include ../partials/header%>
	<div id="contact">
		<h1>Contact</h1>
		<form id="form">
			
				<div>
					<input type="text" name="firstName" placeholder="First Name">
				</div>
				<div>
					<input type="text" name="lastName" placeholder="Last Name">
				</div>
				<div>
					<textarea placeholder="Comment"></textarea>
				</div>
				
				
				<button>Send</button>
			
		</form>
	</div>
<%include ../partials/footer%>