<%include ../partials/header%>
<div id="founder">
	<h1>Founder</h1>
	<p>
		My name is Hieu Nguyen. I am not affialated with any organizations.Therefore, any content on this page is not intended to reflect any thoughts or beliefs held by any collection of people, but it is strictly reflective of my own personal views.
	</p>
	<p>
		I have been a Vietnamese-American for the last 10 years of my life. Moving to America to seek new opportunities in the hope of starting something new was one of the hardest and most drastic decisions of my life. With each success and downfall, another page is added to this chapter that consitutes my adventure. However, every once in while, I encounter troubling news that rocks my core with nostalgia. I am forced to stop writing and reaccount for my past. My country. The country that is still suffering from the control of communism. Please do not confuse communism and the vietnamese citizens. They are interchangable. Vietnam is a communist country that is governed by communist laws and parties. However, not all vietnamese are communists. In fact, most vietnamese are against communism. However, poverty and political oppression has rendered any forms of protest futile. Despite subpar living conditions, vietnamese has never lost sight of the future. A future where their children can express their opposition or agreement without fear of government retaliation. A future where ones success is independent of status but rather the equivalence of their hard work and passion.

	</p>
	<p>
		With this undying will to overcome a force far greater than one can handle but easily overwhelmed by a nation, I am optimistic that change is concievable no matter how small. 
	</p>	
	<div id="biography">
		<h2>Current Status:</h2>
	 	<ul>
	 		<li>Studying at the University of Louisville with special interests in Computer Engineering and Computer Science</li>
	 	</ul>

		<h2>Interests: </h2>
		<ul>
			<li>Experimenting with small scale project related to programming</li>
			<li>Spend quality time with family</li>
			<li>Voicing ideas on certain topics that are often ignored.</li>
			<li>Understanding different culture in way that enhances appreciation for diversity</li>
		</ul>
	</div>
	
		
	
</div>

<%include ../partials/footer%>
