<%include ../partials/header%>
<div id="learnMore">
	<h1>Learn More</h1>
	<p>
		Vietnam is rich with history and culture. <span><a href="#" style="text-decoration: none;">Learn more</a></span> about Vietnam.  
	</p>
	<div class="jumbotron">
		<h1 class="display-4">UNDERSTANDING, PEACE, UNITY</h1>
		<p class="lead">
			“A nation's culture resides in the hearts and in the soul of its people." <span id="author">-Mahatma Gandhi</span>
		</p>

	</div>
</div>
<%include ../partials/footer%>
